.search-container {
  .result.highlighted {
    background: #efefef;
  }

  .result-link {
    display: block;
    padding: 0.5em;
  }

  .result-title{
    font-size: 1.1em;
    margin-bottom: 0.1em;
  }
  
  .result-type {
    span {
      font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
      font-size: 0.9em;
      background: #505050;
      color: #f0f0f0;
      border-radius: 3px;
      padding: 0.25em;
    }
  }
}
