<h2>Search results</h2>
<div>
  You searched for {{ query }}
</div>
<div>
  Your search returned {{ total_results }} results.
</div>
<div class="search-results">
  {% for result in search_results %}
    <a class="result" href="{{ result.link }}">
      <div class="title">{{ result.title }}</div>
    </a>
  {% endfor %}
</div>